
@charset "UTF-8";

@-ms-viewport {
    width: device-width;
}

#body-section {
    
}

#body-section > p.table {
    position: absolute;
    top: 3vh;
    right: 10vw;
    font-size: 3.6vh;
    text-align: center;
    padding: 0 0 0 0;
    margin: 0 0 4vh 0;
}
#body-section > div {
    position: absolute;
    width: 94vw;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit- transform: translateY(-50%) translateX(-50%);
}
#body-section > div > img.logo {
    display: block;
    width: auto;
    height: 15vh;
    margin: 0vh auto 4vh auto;
/*    margin: 5vh auto 4vh auto;*/
}
#body-section > div > div.barcode {
    font-size: 0;
    line-height: 0;
    margin: 0 0 5vh 0;
}
#body-section > div > div.barcode > img {
    display: block;
    width: 70vw;
    height: 10vh;
    margin: 0 auto;
}
#body-section > div > div.barcode > p {
    font-size: 5.5vw;
    text-align: center;
    letter-spacing: 2.25vw;
    padding: 0 0 0 2.25vw;
    margin: 0 0 0 0;
}
#body-section > div > p.comment {
    display: none;
    font-size: 4.2vh;
    text-align: center;
    padding: 0 10vw;
    margin: 0 0 5vh 0;
}
#body-section > div > div.btn {
    display: block;
    width: max-content;
    padding: 1vh 2vh;
    margin: 0 auto 0 auto;
    font-size: 3.0vh;
    line-height: 4vh;
    font-weight: 500!important;
    text-align: center;
    vertical-align: middle;
    border-radius: 1.5vh;
    cursor: pointer;
    
    width: 30vh;
    line-height: 4vh;
    margin: 0 auto 3vh auto;
    font-size: 2.5vh;
}
#body-section > div > p.comment2 {
    font-size: 2.5vh;
    text-align: center;
    padding: 0 3vw;
    margin: 5vh 0 0 0;
}

#menu {
    display: none!important;
}
#copy {
    display: block!important;
}

